ion-fab-button {
    height: 70px;
    width: 70px;
  }
   
  .carrinho-icon {
    font-size: 50px;
  }
   
  .carrinho-length {
    color: var(--ion-color-danger);
    position: absolute;
    top: 18px;
    left: 25px;
    font-weight: 600;
    font-size: 1em;
    min-width: 25px;
    z-index: 10;
  }